@mixin Body15 {
  font-family: var(--ff-default);
  font-size: var(--fz-default);
  line-height: 22px;
  font-weight: 400;
}

@mixin Medium15 {
  font-family: var(--ff-default);
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

@mixin SemiBold13 {
  font-family: var(--ff-default);
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}

@mixin SemiBold15 {
  font-family: var(--ff-default);
  font-size: var(--fz-default);
  line-height: 22px;
  font-weight: 600;
}

@mixin SemiBold17 {
  font-family: var(--ff-default);
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
}

@mixin DesktopSemiBoldH2 {
  font-family: var(--ff-default);
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}