$fontRegular: 'SFProDisplay Regular';
$fontMedium: 'SFProDisplay Medium';
$fontSemiBold: 'SFProDisplay SemiBold';
$fontBlack: 'SFProDisplay Black';

$white: #fff;
$blue: #0E1F4D;
$blue2: #235EE8;
$gray2: #EFF0F4;
$gray3: #D4D8E1;
$gray4: #75809E;
$yellow2: #FFF3D2;
$yellow: #FCA806;
$red: #DA483D;
$green: #00BE88;